:root {
  --header-height: 2rem;
}
$primary: #1a87e6;
$secondary: #666666;
$dark: #1a1a1a;
$black: #000000;
$light: #ffffff;
$body-bg: $light;
$typeface1: "Poppins";
$typeface2: "Roboto";
$typeface3: "Nunito";
$body-color: #6f6f6f;
$footer: #d9d9d9;
$borders: #2159ab;
